:root {
    --pane-width: 800px;
    --entry-width: 500px;
    --entry-button-dim: 40px;
    --entry-buttom-img-dim: 30px;
    --add-button-dim: 50px;
    --add-button-img-dim: 40px;
    --entry-button-font-size: medium;
    --entry-id-label-font-size: x-large;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#entries-container {
    width: var(--pane-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.entry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    padding: 1em;
}

.entry {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: var(--entry-width);
}

.entry-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.entry-top-bar input {
    font-size: large;
    flex-grow: 2;
}

.entry-bottom-bar {
    display: flex;
    flex-direction: row;
    /*flex-wrap: nowrap;**/
}

.entry-bottom-bar input {
    font-size: large;
    flex-grow: 2;
}

.entry-update-password-button {
    width: fit-content;
    margin-left: 5px;
    font-size: var(--entry-button-font-size);
}

.entry-new-create-button {
    width: fit-content;
    margin-left: 5px;
    font-size: var(--entry-button-font-size);
}

.entry-reveal-password-button {
    width: fit-content;
    margin-left: 5px;
    font-size: var(--entry-button-font-size);
}

.entry-cancel-password-button {
    width: fit-content;
    margin-left: 5px;
    font-size: var(--entry-button-font-size);
}

button {
    width: var(--entry-button-dim);
    height: var(--entry-button-dim);
}

#entry-new-add-button {
    width: var(--add-button-dim);
    height: var(--add-button-dim);
}

.entry label {
    font-family: monospace;
    font-size: var(--entry-id-label-font-size);
}

.entry img {
    width: var(--entry-buttom-img-dim);
    height: var(--entry-buttom-img-dim);
}

.entry-create-button-container img {
    width: var(--add-button-img-dim);
    height: var(--add-button-img-dim);
}

.entry-delete-button {
    font-weight: bold;
    background-color: lightcoral;
    color: black;
    margin-left: 5px;
    font-size: var(--entry-button-font-size);
}
