[Unit]
Description=Service that runs the quemot.dev passd service locally
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=docker compose -f /etc/quemot-dev/passd/docker-compose.yml up

[Install]
WantedBy=multi-user.target
